target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# account details to deploy to OSSRH are stored in the settings.xml file
settings.xml

#Some eclipse
.metadata
bin/
.settings/

# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Gradle
build
